#@layout()
<style>
   . rjnetwork-container{
       margin-top: 1rem;
   }
</style>
#define script()
<script>

</script>
#end

#define content()
#welcomeDirective()
<div  class="layui-row rjnetwork-container ">

    <div class="layui-row">
        <fieldset class="layui-elem-field">
            <legend>基础信息</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                <tr>
                    <td>本机IPV4</td><td><a href="http://#(ipv4Internet??):#(port??)/" target="_blank">#(ipv4Internet??)</a></td>
                    <td>本机IPV6</td><td><a href="http://[#(ipv6s.internetIpv6??)]:#(port??)/" target="_blank">#(ipv6s.internetIpv6??)</a></td>
                    <td>本项目端口号</td><td>#(port??)</td>
                </td>
                </tr>
                </table>
            </div>
        </fieldset>

        <blockquote class="layui-elem-quote layui-quote-nm">
         <p><h1>本项目实现的功能</h1></p>
         <p>1.获取本机器公网ipv4地址。</p>
         <p>2.获取本机器公网ipv6地址。</p>
         <p>3.腾讯云域名动态解析支持ipv4和ipv6。</p>
         <p>4.阿里云域名动态解析，开发中...</p>
         <p>5.百度云域名动态解析，开发中...</p>
         <p>6.如需要支持其他域名动态解析，可扫描下方二维码，私信回复具体要求，最快三天内可支持哦。</p>
         <p>7.开发不易，请微信扫码关注一下，力挺作者持续更新</p>
         <p><img style="width: 150px;height: 150px" src="/static/images/qrcode_for_gh_29c75ebcd88d_344.jpg" /></p>
        </blockquote>


    </div>

</div>
#end
#end


