#@layout()
#define script()
<script>

</script>
#end

#define content()

#tencentConfigDirective()
<div  class="layui-row rjnetwork-container ">
   <div class="layui-col-sm12">

       <div class="layui-panel">
           <div class="layui-card-header"><h1>腾讯云DDNS配置中心</h1></div>
           <div style="padding: 32px;">

               <form class="layui-form" action="form.html">
                   <input name="id" value="#(ddnsAppInfo.id??)" style="display: none">
                   <input name="type" value="#(ddnsAppInfo.type??)" style="display: none">
                   <div class="layui-form-item">
                       <label class="layui-form-label">应用名称</label>
                       <div class="layui-input-block">
                           <input type="text" value="#(ddnsAppInfo.name??)" name="name" lay-verify="required" placeholder="请输入应用名称" autocomplete="off" class="layui-input">
                       </div>
                   </div>

                   <div class="layui-form-item">
                       <label class="layui-form-label">secretId</label>
                       <div class="layui-input-block">
                           <input type="text" value="#(ddnsAppInfo.secretId??)" name="secretId" lay-verify="required" placeholder="请输入应用ID" autocomplete="off" class="layui-input">
                       </div>
                   </div>

                   <div class="layui-form-item">
                       <label class="layui-form-label">secretKey</label>
                       <div class="layui-input-block">
                           <input type="text"  value="#(ddnsAppInfo.secretKey??)" name="secretKey" lay-verify="required" placeholder="请输入应用密钥" autocomplete="off" class="layui-input">
                       </div>
                   </div>


                   <div class="layui-form-item">
                       <label class="layui-form-label">region</label>
                       <div class="layui-input-block">
                           <input type="text" value="#(ddnsAppInfo.region??)" name="region"  placeholder="请输入地域，如果不清楚可以不填" autocomplete="off" class="layui-input">
                       </div>
                   </div>


                   <div class="layui-form-item">
                       <label class="layui-form-label">是否启用</label>
                       <div class="layui-input-block">
                           <input type="checkbox" name="status" lay-skin="switch" lay-filter="switchStatus" title="启用|禁用">
                       </div>
                   </div>


                   <div class="layui-form-item">
                       <div class="layui-input-block">
                           <button type="submit" class="layui-btn" lay-submit lay-filter="form">保存</button>
                       </div>
                   </div>

                   <script>
                       layui.use(['form', 'laydate', 'util'], function(){
                           var form = layui.form;
                           var layer = layui.layer;
                           var laydate = layui.laydate;
                           var util = layui.util;


                           let status = "#(ddnsAppInfo.status??)";
                           if(status==1){

                               $("input[name=status]").prop('checked',true);
                               $("input[name=status]").val(1);
                               form.render();
                           }else{
                               $("input[name=status]").prop('checked',false);
                               $("input[name=status]").val(0);
                               form.render();
                           }


                           // 指定开关事件
                           form.on('switch(switchStatus)', function(data){
                               let status =  this.checked==true?1:0;
                               console.log(status)
                               //layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是 ON|OFF', data.othis)
                           });

                           form.on('submit(form)', function(data){
                               var field = data.field; // 获取表单字段值

                               $.ajax({
                                   url:"/api/saveOrUpdateTencentConfig",
                                   data:field,
                                   method:"post",
                                   success(res){
                                       layer.msg(res.msg);
                                       setTimeout(function (){
                                           location.reload();
                                       },3000)
                                   }
                               })
                               return false; // 阻止默认 form 跳转
                           })

                       })

                   </script>

               </form>
           </div>
       </div>


   </div>





</div>
#end
#end


