#define layout()
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>DDNS-管理后台</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/static/js/jquery-3.7.0.min.js"></script>
    <script src="/layui/layui.js"></script>
    #@css?()
   <style>
       .layui-layout-admin .layui-header{
           width: 100px !important;
       }
   </style>
</head>
<!--<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed ">-->
<body class="hold-transition sidebar-mini layout-fixed text-sm">
<!--<body class="hold-transition sidebar-mini " style="height: auto;">-->
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">
           <a href="/welcome" style="color:#fff9ec">企小猪-DDNS</a>
        </div>
    </div>
    <div class="layui-side layui-bg-black">
        <ul class="layui-nav layui-nav-tree" lay-filter="ddns-sider-menu">
            <li class="layui-nav-item">
                <a href="javascript:;">系统设置</a>
                <dl class="layui-nav-child">
                    <dd><a href="/config/tencent">腾讯云DDNS配置</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item">
                <a href="javascript:;">DDNS管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="/domainList/list">域名管理</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item">
                <a href="javascript:;">附加功能</a>

                <dl class="layui-nav-child">
                    <dd><a href="/fileDownload/download">磁力链接下载</a></dd>
                </dl>

            </li>

        </ul>
    </div>

    <div class="layui-body layui-main">
        <div >
            #@content()
        </div>

    </div>


    <div class="layui-footer">
        <p>作者开发不易，可微信扫码关注二维码，支持作者持续更新哦。</p>
    </div>


    <script>


    </script>





</div>
#@script?()
</body>
</html>
#end
