#define layoutForm()
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>DDNS-管理后台</title>
    <link rel="stylesheet" href="/public//layui/css/layui.css">
    <script src="/public//static/js/jquery-3.7.0.min.js"></script>
    <script src="/public//layui/layui.js"></script>
    #@css?()

</head>
<!--<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed ">-->
<body class="hold-transition sidebar-mini layout-fixed text-sm">
<!--<body class="hold-transition sidebar-mini " style="height: auto;">-->
<div style="margin: .2rem">
        #@content()
</div>
#@script?()
</body>
</html>
#end
